<div class="card-container div-container">
    <h3>Users</h3>
    <br>
    <div class="card-content-first">
        <div class="card-content-body table-responsive">
            <div style="display: flex; gap: 20px;" class="mb-2">
                <div class="container-seach">
                    <form class="d-flex">
                        <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" (keyup)="searchData($event)">
                    </form>
                </div>
            </div>
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table"
                style="margin: auto;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Email</th>
                        <th>Role</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td class="align-middle">{{ item.name }}</td>
                        <td class="align-middle">{{ item.surname}}</td>
                        <td class="align-middle">{{ item.email }}</td>
                        <td class="align-middle">{{ item.role }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>