<!-- FORM -->
<div class="modal fade" id="modalAddShipping" data-backdrop="false" tabindex="-1" aria-labelledby="modalLabel"
    aria-hidden="true">
    <app-add-shippings (close)="confirmAddRecord($event)"></app-add-shippings>
</div>
<!-- END FORM -->
<!-- Modal Delete -->
<div class="modal fade" id="modalDeleteShipping" data-backdrop="false" tabindex="-1" aria-labelledby="modalLabel"
    aria-hidden="true">
    <app-modal-delete (delete)="confirmDeleteRecord($event)"></app-modal-delete>
</div>
<!-- End Delete -->
<div class="card-container div-container">
    <h3>Shippings</h3>
    <br>

    <div class="card-content-first">
        <div style="display: flex; gap: 20px;" class="mb-2">
            <div class="container-seach">
                <form class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" (keyup)="searchData($event)">
                </form>
            </div>
            <button class="btn btn-add" (click)="showModalAdd()">
                <i class="bi bi-plus"></i>
                Add new Shipping
            </button>
        </div>
        <br>
        <div class="card-content-body table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table" style="margin: auto;">
                <thead>
                    <tr>
                        <th>Address</th>
                        <th>Zip Code</th>
                        <th>Remitent</th>
                        <th>Addressee</th>
                        <th>Weight</th>
                        <th>Price</th>
                        <th>Company</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data">
                        <td class="align-middle">{{ item.address }}</td>
                        <td class="align-middle">{{ item.zip_code}}</td>
                        <td class="align-middle">{{ item.remitent }}</td>
                        <td class="align-middle">{{ item.addressee }}</td>
                        <td class="align-middle">{{ item.weight | number : '1.2-2'}} Kg</td>
                        <td class="align-middle">{{  item.price | currency:'EUR' }}</td>
                        <td class="align-middle">{{ item.transport_company }}</td>
                        <td class="align-middle text-center">
                            <!-- DELETE -->
                            <button class="btn" (click)="showModalDelete(item)" title="Delete Shipping">
                                <i class="bi bi-x-circle-fill"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>